* {margin: 0; padding: 0; text-decoration: none; list-style-type: none;}


/* 어떻게 코딩했는지 그세 까먹었어요 */

/* 공통 푸터 시작 */

.fbg{
    width: 100%;
    height: 90px;
    background-color: #FF9437;
    display: flex;
    justify-content: center;
}

.fo{
    width: 1100px;
    height: 90px;
    border: 0px solid red;
    position: relative;
}

.log{
    border: 0px solid red;
    position: absolute;
    padding-top: 18px;
}

.tix{
    right: 0;
    width: 280px;
    height: 22px;
    padding-top: 34px;
    text-align: right;
    border: 0px solid red;
    position: absolute;
    font-size: 19px;
    font-weight: 700;
    color: white;
}

/* 공통 푸터 끝 */



.tit00{padding-top: 50px; float: left;}

.cm1{padding-top: 50px; float: right;}


/* 메인 시작 */

.mainbg{
    width: 100%;
    height: 1328px;
    background-image: url('img/mainbg.png');
    display: flex;
    justify-content: center;
    background-position: center;
}

.mainwrap{
    position: relative;
    width: 1100px;
    height: 898px;
    border: 0px solid red;
}
.maintit{
    right: 0;
    width: 903px;
    height: 760px;
    background-image: url('img/main_tit.png');
    position: absolute;
}
.bt00{
    width: 59px;
    height: 32px;
    position: absolute;
    background-image: url('img/bt000.png');background-repeat: no-repeat;
    bottom: 0;
    left: 46%;
}
.zpz{
    padding-top: 264px;
    position: absolute;

}

.tit{
    font-size: 30px;
    font-weight: 700;
    text-shadow: 0px 8px 9px #6F7F87;
}


.tit > a {
    color: white;
}

.tit > a:hover {
    color: #FF9437;
}

.tit01{
    margin-top: 0px;
}
.tit02{
    margin-top: 48px;
}

.tit03{
    margin-top: 48px;
}
.tit04{
    margin-top: 48px;
}
.tit05{
    margin-top: 48px;
}
.tit06{
    margin-top: 48px;
}

/*-------------------------------------*/


.mbg{
    width: 100%;
    height: 4010px;
    border: 0px solid red;

}

.sgn{
    width: 100%;
    height: 680px;
    border: 0px solid red;
    background-image: url('img/sig0.png');
    background-position: center;
    background-repeat: no-repeat;
    
}

/*-------------------------------------*/

.cont01{
    width: 100%;
    height: 480px;
    display: flex;
    justify-content: center;
}

.mainst01{
    width: 1100px;
    height: 480px;
    position: relative;
}

.st01{
    width: 1100px;
    height: 480px;
}


.tt01{
    width: 467px;
    height: 480px;
    border: 0px solid red;
    position: absolute;

}

.t01{
    top: 145px;
    left: 460px;
    width: 251px;
    height: 127px;
    border: 0px solid brown;
    background-image: url('img/bt001.png');
    position: absolute;
}

.t001{
    top: 382px;
    left: 470px;
    width: 120px;
    height: 25px;
    border: 0px solid brown;
    position: absolute;
}

/*-------------------------------------*/

.cont02{
    width: 100%;
    height: 480px;
    display: flex;
    justify-content: center;
}

.mainst02{
    width: 1100px;
    height: 480px;
    position: relative;
}

.st02{
    width: 1100px;
    height: 480px;
}

.tt02{
    right: 0;
    width: 467px;
    height: 480px;
    border: 0px solid red;
    position: absolute;
}

.t02{
    top: 145px;
    right: 460px;
    width: 293px;
    height: 128px;
    border: 0px solid brown;
    background-image: url('img/bt002.png');
    position: absolute;
}

.t002{
    top: 382px;
    right: 475px;
    width: 120px;
    height: 25px;
    border: 0px solid brown;
    position: absolute;
}

/*----------------------------------*/

.cont03{
    width: 100%;
    height: 480px;
    display: flex;
    justify-content: center;
}

.mainst03{
    width: 1100px;
    height: 480px;
    position: relative;

}

.st03{
    width: 1100px;
    height: 480px;
}

.tt03{
    width: 467px;
    height: 480px;
    border: 0px solid red;
    position: absolute;
}

.t03{
    top: 145px;
    left: 460px;
    width: 226px;
    height: 127px;
    border: 0px solid brown;
    background-image: url('img/bt003.png');
    position: absolute;
}

.t003{
    top: 382px;
    left: 470px;
    width: 120px;
    height: 25px;
    border: 0px solid brown;
    position: absolute;
}

/*-----------------------------------*/

.cont04{
    width: 100%;
    height: 480px;
    display: flex;
    justify-content: center;
}

.mainst04{
    width: 1100px;
    height: 480px;
    position: relative;

}

.st04{
    width: 1100px;
    height: 480px;
}

.tt04{
    right: 0;
    width: 467px;
    height: 480px;
    border: 0px solid red;
    position: absolute;
}

.t04{
    top: 145px;
    right: 460px;
    width: 151px;
    height: 127px;
    border: 0px solid brown;
    background-image: url('img/bt004.png');
    position: absolute;
}

.t004{
    top: 382px;
    right: 476px;
    width: 120px;
    height: 25px;
    border: 0px solid brown;
    position: absolute;
}

/*-----------------------------------*/

.cont05{
    width: 100%;
    height: 480px;
    display: flex;
    justify-content: center;
}

.mainst05{
    width: 1100px;
    height: 480px;
    position: relative;

}

.st05{
    width: 1100px;
    height: 480px;
}

.tt05{
    width: 467px;
    height: 480px;
    border: 0px solid red;
    position: absolute;
}

.t05{
    top: 145px;
    left: 460px;
    width: 281px;
    height: 128px;
    border: 0px solid brown;
    background-image: url('img/bt005.png');
    position: absolute;
}

.t005{
    top: 382px;
    left: 473px;
    width: 120px;
    height: 25px;
    border: 0px solid brown;
    position: absolute;
}

/*-----------------------------------*/

.cont06{
    width: 100%;
    height: 480px;
    display: flex;
    justify-content: center;
}

.mainst06{
    width: 1100px;
    height: 480px;
    position: relative;

}

.st06{
    width: 1100px;
    height: 480px;
}

.tt06{
    right: 0;
    width: 467px;
    height: 480px;
    border: 0px solid red;
    position: absolute;
}

.t06{
    top: 145px;
    right: 460px;
    width: 321px;
    height: 127px;
    border: 0px solid brown;
    background-image: url('img/bt006.png');
    position: absolute;
}

.t006{
    top: 382px;
    right: 474px;
    width: 120px;
    height: 25px;
    border: 0px solid brown;
    position: absolute;
}


/* 메인 끝 */











/* 서브 공통 메뉴바 시작 */

.subg {
    width: 100%;
    height: 878px;
    background-image: url('img/topbg.gif');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    background-position: center;
}

.subrap {
    width: 1100px;
    height: 878px;
    border: 0px solid red;

}
.smomanu{
    width: 100%;
    height: 100px;
    background-color: #F3F2F2;
    box-shadow: 0px 3px 12px #D4D4D4;
}

/* 서브 공통 메뉴바(배경) 끝 */



/* 서브1 시작 */

.suna1{
    padding-top: 100px;
    position: absolute;
}

.tit1{
    font-size: 30px;
    font-weight: 700;
    text-shadow: 0px 8px 9px #6F7F87;
}

.tit1 > a {
    color: white;
}

.tit1 > a:hover {
    color: #FF9437;
}

.tit07{
    font-size: 120px;
    margin-top: 0px;
    font-weight: 700;
    color: #FF9437;
    text-shadow: 10px 40px 20px #6F7F87;
}
.tit08{
    margin-top: 10px;
}

.tit09{
    margin-top: 48px;
}
.tit10{
    margin-top: 48px;
}
.tit11{
    margin-top: 48px;
}
.tit12{
    margin-top: 48px;
}

/*서브1 메뉴바 끝*/

.bwrap{
    width: 100%;
    height: 1588px;
    background-image: url('img/propbg.png');
    background-position: right;
    background-repeat: no-repeat;
    justify-content: center;
    display: flex;
}

.srap{
    width: 1100px;
    height: 1588px;
    position: relative;
}

.pri1{
    top: 203px;
    position: absolute;
}
.pri2{
    top: 596px;
    position: absolute;
}
.pri3{
    bottom: 170px;
    position: absolute;
}

/* 서브1 끝 */





/* 서브2 시작 */

.suna2{
    padding-top: 140px;
    position: absolute;
}

.tit2{
    font-size: 30px;
    font-weight: 700;
    text-shadow: 0px 8px 9px #6F7F87;
}

.tit2 > a {
    color: white;
}

.tit2 > a:hover {
    color: #FF9437;
}

.tit13{
    margin-top: 0px;
}
.tit14{
    margin-top: 0px;
    font-weight: 700;
    color: #FF9437;
    font-size: 120px;
    text-shadow: 10px 40px 20px #6F7F87;
}
.tit15{
    margin-top: 11px;
}
.tit16{
    margin-top: 48px;
}
.tit17{
    margin-top: 48px;
}
.tit18{
    margin-top: 48px;
}

/*서브2 메뉴바 끝*/



.btsub1{
    width: 100%;
    height: 676px;
    display: flex;
    justify-content: center;
}

.btb1{
    width: 1100px;
    height: 676px;
    border: 0px solid  red;
}

.btt1{
    margin-top: 202px;
    text-align: center;
    border: 0px solid  red;
}


.overvbg{
    width: 100%;
    height: 363px;
    background-color: #7CA9A0;
}

.bonmoon_s1{
    text-align: center;
    font-size: 20px;
    color: white;
    padding-top: 125px;
    font-family: 'NanumGothic';
    line-height: 30px;
}


.mainpack1{
    width: 100%;
    height: 2724px;
    display: flex;
    justify-content: center;
}

.minpg{
    width: 1100px;
    height: 2724px;
    border: 0px solid  red;
}

.q01{
    width: 1100px;
    height: 460px;
    border: 0px solid  red;
} 

.col1{
    text-align: center;
    padding-top: 242px;
}



.q02{
    width: 1100px;
    height: 472px;
    border: 0px solid  red;
} 

.pgg1{
    text-align: center;
    padding-top: 255px;
}



.p3{
    width: 1100px;
    height: 1919px;
}

.bingong{
    margin-top: 117px;
}

.gan_gk1{
    margin-top: 20px;
}
.gan_gk2{
    margin-top: 43px;
}


.rtrt{
    width: 100%;
    height: 127px;
}

.gan_gk3{
    width: 100%;
    height: 127px;
    background-image: url('img/grd1.png');
}



.mainpack2{
    width: 100%;
    height: 1677px;
    display: flex;
    justify-content: center;
}

.minpg1{
    width: 1100px;
    height: 1677px;
    border: 0px solid  red;
    text-align: center;
}

.gan_gk4{margin-top: 118px;}

.gan_gk5{margin-top: 36px;}

.gan_gk6{
    margin-top: 43px;
}

/* 서브2 끝 */






/* 서브3 시작 */

.suna3{
    padding-top: 140px;
    position: absolute;
}

.tit3{
    font-size: 30px;
    font-weight: 700;
    text-shadow: 0px 8px 9px #6F7F87;
}

.tit3 > a {
    color: white;
}

.tit3 > a:hover {
    color: #FF9437;
}

.tit19{
    margin-top: 0px;
}
.tit20{
    margin-top: 48px;
}
.tit21{
    margin-top: 0px;
    font-weight: 700;
    color: #FF9437;
    font-size: 120px;
    text-shadow: 10px 40px 20px #6F7F87;
}
.tit22{
    margin-top: 10px;
}
.tit23{
    margin-top: 48px;
}
.tit24{
    margin-top: 48px;
}

/*서브3 메뉴바 끝*/

.btsub2{
    width: 100%;
    height: 352px;
    justify-content: center;
    display: flex;
}

.btb2{
    width: 1100px;
    height: 352px;
    position: relative;
    border: 0px solid red;
}

.btt2{
    bottom: 79px;
    position: absolute;
}



.logo_bg{  
    width: 100%;
    height: 426px;
    background-color: #F8F8F8;
    justify-content: center;
    display: flex;
}

.lobg{
    width: 1100px;
    height: 426px;
    border: 0px solid red;
    position: relative;
}

.tsb1{
    font-size: 20px;
    position: absolute;
    margin-top: 145px;
    right: 68px;
    font-family: 'NanumGothic';
    line-height: 30px;
}

.tsb2{
    position: absolute;
    right: 175px;
    bottom: 100px;
    font-size: 23px;
    font-weight: 700;
    color: #DF5134;
    font-family: 'NanumGothic';
    line-height: 30px;
}

.log0{margin-top: 35px;}


.mainlo1{
    width: 100%;
    height: 931px;
    justify-content: center;
    display: flex;
    box-shadow: 0px 3px 50px #F8F5F1;
}

.lo1{
    width: 1100px;
    height: 931px;
    border: 0px solid red;
    position: relative;
}

.o1{
    margin-top: 230px;
    position: absolute;
}
.o2{
    right: 0;
    margin-top: 230px;
    position: absolute;
}
.o3{
    right: 0;
    bottom: 250px;
    position: absolute;
}


.mok0{
    width: 100%;
    height: 446px;
    display: flex;
    justify-content: center;
}

.mo1{
    width: 1100px;
    height: 446px;
    position: relative;
}

.m1{top: 100px; position: absolute;}

.m2{right: 0; margin-top: 141px; font-size: 20px; position: absolute; font-family: 'NanumGothic'; line-height: 30px;}



.mok1{
    width: 100%;
    height: 1041px;
    background-image: url('img/uibg1.png');
    background-repeat: no-repeat;
    border: 0px solid red;
    background-size: cover;

}



/* 서브3 끝 */





/* 서브4 시작 */

.suna4{
    padding-top: 140px;
    position: absolute;
}

.tit4{
    font-size: 30px;
    font-weight: 700;
    text-shadow: 0px 8px 9px #6F7F87;
}

.tit4 > a {
    color: white;
}

.tit4 > a:hover {
    color: #FF9437;
}

.tit25{
    margin-top: 0px;
}
.tit26{
    margin-top: 48px;
}
.tit27{
    margin-top: 48px;
}
.tit28{
    margin-top: 0px;
    font-weight: 700;
    color: #FF9437;
    font-size: 120px;
    text-shadow: 10px 40px 20px #6F7F87;
}
.tit29{
    margin-top: 10px;
}
.tit30{
    margin-top: 48px;
}

/*서브4 메뉴바 끝*/

.webtit{
    width: 100%;
    height: 428px;
    justify-content: center;
    display: flex;
}

.wtit1{
    width: 1100px;
    height: 428px;
    position: relative;
    border: 0px solid red;
}

.wt1{
    position: absolute;
    top: 170px;
    left: 230px;
}



.mowebbg{
    width: 100%;
    height: 1033px;
    background-image: url('img/webbg1.png');
    background-repeat: repeat;
    background-position: center;
    justify-content: center;
    display: flex;
}

.mowbox{
    width: 1100px;
    height: 1033px;
    position: relative;
}

.mtxt1{
    position: absolute;
    top: 421px;
}

.mtxt2{
    position: absolute;
    top: 498px;
    font-size: 23px;
    font-family: 'NanumGothic';
    line-height: 30px;
}

.mtxt3{
    position: absolute;
    top: 236px;
    right: 0;
}



.menweb{
    width: 100%;
    height: 2544px;
    justify-content: center;
    display: flex;
}

.mewe{
    width: 1100px;
    height: 2544px;
    border: 0px solid red;
}

.mei{
    margin-top: 373px;
}


.hdweb{
    width: 100%;
    height: 1091px;
    background-color: black;
    background-image: url('img/webbg2.png');
    background-repeat: no-repeat;
    background-position: center;
}


/* 서브4 끝 */






/* 서브5 시작 */

.suna5{
    padding-top: 140px;
    position: absolute;
}

.tit5{
    font-size: 30px;
    font-weight: 700;
    text-shadow: 0px 8px 9px #6F7F87;
}

.tit5 > a {
    color: white;
}

.tit5 > a:hover {
    color: #FF9437;
}

.tit31{
    margin-top: 0px;
}
.tit32{
    margin-top: 48px;
}
.tit33{
    margin-top: 48px;
}
.tit34{
    margin-top: 48px;
}
.tit35{
    margin-top: 0px;
    font-weight: 700;
    color: #FF9437;
    font-size: 120px;
    text-shadow: 10px 40px 20px #6F7F87;
}
.tit36{
    margin-top: 10px;
}

/*서브5 메뉴바 끝*/

.mitit1{
    width: 100%;
    height: 505px;
    justify-content: center;
    display: flex;
}

.su3ti{
    width: 1100px;
    height: 505px;
    position: relative;
}
.s3ti1{
    top: 200px;
    left: 230px;
    position: absolute;
}



.milogo1{
    width: 100%;
    height: 692px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 30px 30px #F2F2F2;
}

.su3lo{
    width: 1100px;
    height: 692px;
    position: relative;
}
.s3lo1{
    top: 78px;
    left: 163px;
    position: absolute;
}
.s3lo2{
    bottom: 174px;
    left: 400px;
    font-family: 'NanumGothic';
    font-size: 20px;
    text-align: center;
    position: absolute;
    line-height: 30px;
}




.micolor1{
    width: 100%;
    height: 1655px;
    justify-content: center;
    display: flex;
}

.su3colo{
    width: 1100px;
    height: 1655px;
    position: relative;
}
.s3colo1{
    top: 295px;
    left: 232px;
    position: absolute;
}
.s3colo2{
    bottom: 247px;
    position: absolute;
}


.migrepc1{
    width: 100%;
    height: 684px;
    background-image: url('img/idengrpc1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
    display: flex;
}

.su3pre{
    width: 100%;
    height: 684px;
    position: relative;
}
.s3gr1{
    top: 342px;
    padding-left: 30%;
    font-size: 62px;
    font-weight: 800;
    color: #fff;
    position: absolute;
}


.mimok1{
    width: 100%;
    height: 1920px;
    justify-content: center;
    display: flex;
}

.su3mok{
    width: 1100px;
    height: 1920px;
    position: relative;
}
.s3mok1{
    top: 184px;
    padding-left: 322px;
    position: absolute;
}
.s3mok2{
    bottom: 412px;
    position: absolute;
}



.mitit2{
    width: 100%;
    height: 520px;
    background-color: #363636;
    background-image: url('img/smtit05.png');
    background-repeat: no-repeat;
    background-position: center;
}

.milogo2{
    width: 100%;
    height: 1423px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 30px 60px #F2F2F2;
}

.log3{
    width: 1100px;
    height: 1423px;
    position: relative;
}
.l31{
    top: 140px;
    padding-left: 342px;
    position: absolute;
}
.l32{
    top: 510px;
    font-size: 20px;
    padding-left: 361px;
    font-family: 'NanumGothic';
    text-align: center;
    position: absolute;
    line-height: 30px;
}
.l33{
    bottom: 97px;
    padding-left: 123px;
    position: absolute;
}




.misys2{
    width: 100%;
    height: 678px;
    background-image: url('img/idencolor2.png');
    background-repeat: no-repeat;
    background-position: center;
}



.micolor2{
    width: 100%;
    height: 919px;
    background-color: #F5F4F0;
    display: flex;
    justify-content: center;
}

.col22{
    width: 1100px;
    height: 919px;
    position: relative;
}
.m2color1{
    top: 59px;
    position: absolute;
}
.m2color2{
    top: 409px;
    padding-left: 283px;
    font-size: 62px;
    font-weight: 800;
    position: absolute;
}
.m2color3{
    bottom: 59px;
    position: absolute;
}




.migrepc2{
    width: 100%;
    height: 1115px;
    display: flex;
    justify-content: center;
}

.gresu3{
    width: 1100px;
    height: 1115px;
    position: relative;
}
.grep1{
    top: 245px;
    position: absolute;
}




.micolsy2{
    width: 100%;
    height: 1044px;
    justify-content: center;
    display: flex;
}

.mcols{
    width: 1100px;
    height: 1044px;
    position: relative;
}
.sym1{
    padding-left: 221px;
    top: 105px;
    position: absolute;
}
.sym2{
    font-size: 49px;
    font-weight: 800;
    padding-left: 501px;
    bottom: 480px;
    position: absolute;
    font-family: 'NanumGothic';
}
.sym3{
    top: 600px;
    font-size: 20px;
    text-align: center;
    left: 385px;
    bottom: 277px;
    position: absolute;
    line-height: 30px;
    font-family: 'NanumGothic';
}



.mimok2{
    width: 100%;
    height: 1173px;
    background-color: #2A2A2A;
    background-image: url('img/clel1.png');
    display: flex;
    justify-content: center;
}

.moks2{
    width: 1100px;
    height: 1173px;
    position: relative;
}
.mmok1{
    top: 39px;
    position: absolute;
}


/* 서브5 끝 */






/* 서브6 시작 */

.suna6{
    padding-top: 140px;
    position: absolute;
}

.tit6{
    font-size: 30px;
    font-weight: 700;
    text-shadow: 0px 8px 9px #6F7F87;
}

.tit6 > a {
    color: white;
}

.tit6 > a:hover {
    color: #FF9437;
}

.tit37{
    margin-top: 0px;
}
.tit38{
    margin-top: 48px;
}
.tit39{
    margin-top: 48px;
}
.tit40{
    margin-top: 48px;
}
.tit41{
    margin-top: 48px;
}
.tit42{
    margin-top: 0px;
    font-weight: 700;
    color: #FF9437;
    font-size: 120px;
    text-shadow: 10px 40px 20px #6F7F87;
}

/*서브6 메뉴바 끝*/

.sub6mitit{
    width: 100%;
    height: 551px;
    justify-content: center;
    display: flex;
}

.sub6ti{
    width: 1100px;
    height: 551px;
    position: relative;
}
.su6t{
    top: 220px;
    padding-left: 206px;
    position: absolute;
}



.sub6poster{
    width: 100%;
    height: 1103px;
    background-image: url('img/boxbg.png');
    background-position: bottom;
    background-repeat: repeat-x;
    justify-content: center;
    display: flex;
}

.su6pos{
    width: 1100px;
    height: 1103px;
    position: relative;
}
.s6p{
    bottom: 113px;
    position: absolute;
}




.sub6book1{
    width: 100%;
    height: 1125px;
    justify-content: center;
    display: flex;
}

.su6boo1{
    width: 1100px;
    height: 1125px;
    position: relative;
}
.s6b1{
    padding-left: 470px;
    top: 278px;
    font-size: 23px;
    font-weight: 800;
    position: absolute;
}
.s6b2{
    bottom: 6px;
    position: absolute;
}



.sub6book2{
    width: 100%;
    height: 1049px;
    background-color: #363636;
    justify-content: center;
    display: flex;
}

.su6boo2{
    width: 1100px;
    height: 1125px;
    position: relative;
}
.s6b3{
    position: absolute;
}
.s6b4{
    padding-left: 300px;
    top: 803px;
    font-size: 20px;
    font-family: 'NanumGothic';
    text-align: center;
    position: absolute;
    color: #fff;
    line-height: 2;
}

.nhh1{
    width: 100%;
    height: 252px;
}


/* 서브6 끝 */